[Unit]
Description=Flink Local Service

[Service]
Type=forking
ExecStart=/opt/flink/flink-1.4.0/bin/start-cluster.sh
ExecStop=/opt/flink/flink-1.4.0/bin/stop-cluster.sh
Restart=always

[Install]
WantedBy=multi-user.target
