[Unit]
Description=Storm Nimbus Service

[Service]
Type=simple
ExecStart=/opt/storm/apache-storm-1.1.1/bin/storm nimbus
Restart=always

[Install]
WantedBy=multi-user.target
